body {
    padding: 0;
    margin: 0;
    font-family: 'verdana';
    font-size: 14px;
    background-color: #ffe0cb;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    cursor: pointer;
    user-select: none;
}
hr {
    padding: 0;
    border: none;
    border-top: 1px solid #333;
    color: #333;
    text-align: center;
}
.container {
    width: 580px;
    padding: 10px;
    margin: auto;
}
.fruits {
    width: 360px;
    display: inline-block;
}
.summary {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

.sprite {
    background: url(sprite.png);
    width: 90px;
    height: 90px;
    float: left;
    cursor: pointer;
}
.sprite.selected {
    display: inline-block;
    background-color: #fdea60;
}

.banana { background-position: 0px 0px; }
.broccoli { background-position: -90px 0px; }
.carrot { background-position: -180px 0px; }
.coconut { background-position: -270px 0px; }
.corn { background-position: 0px -90px; }
.cucumber { background-position: -90px -90px; }
.eggplant { background-position: -180px -90px; }
.grain { background-position: -270px -90px; }
.grape { background-position: 0px -180px; }
.lemon { background-position: -90px -180px; }
.lettuce { background-position: -180px -180px; }
.mushrooms { background-position: -270px -180px; }
.onion { background-position: 0px -270px; }
.pepper { background-position: -90px -270px; }
.tomato { background-position: -180px -270px; }
.watermelon { background-position: -270px -270px; }
