html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: url('stade.jpg') center center no-repeat;
  background-size: cover;
}

img {
  display: block;
}

.johnny {
  height: 400px;
}

.flamme {
  position: absolute;
  left: 170px;
  top: 46px;
  width: 0;
  height: 145px;
  transition: width 1s;
}

button {
  position: absolute;
  top: 40px;
  right: 40px;
  background: #456555;
  color: #fff;
  border: 0;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: #24c2c2;
}