body, html, #app, #app > div {
    height: 100vh; 
    width: 100vh; 
}
#app > div > .h-home,
#app > div > .h-editor {
    position: absolute;
    top: 3.25rem;
    bottom: 0;
    right: 0;
    left: 0;
}
.CodeMirror {
    font-size: 14px;
}
.button.is-primary, .tag:not(body).is-primary {
    background-color: #56b6c2;
}
.button.is-primary:hover, .tag:not(body).is-primary:hover {
    background-color: #47b0bd;
}
.tag:not(body).is-add {
    margin-left: 1px;
    padding: 0;
    position: relative;
    width: 2em;
}
.tag:not(body).is-add:before {
    height: 1px;
    width: 12px;
 
    background-color: currentColor;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
}
.tag:not(body).is-add:after {
    height: 50%;
    width: 1px;
 
    background-color: currentColor;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
}
ul.is-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #2C323B;
    position: absolute;
    left: 0;
    right: 0;
}
.navbar .control {
    position: static;
}
.navbar .navbar-brand {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: white;
}
.navbar .navbar-button {
    position: absolute;
    right: 0.85rem;
    top: 0.85rem;
}
.navbar .notification {
    color: white;
    background-color: #3D4550;
    position: absolute;
    top: 2rem;
    right: 0;
    left: 0;
    padding: 0.5rem;
    user-select: none;
    overflow: scroll;
    max-height: 85vh;
}
.navbar .notification p {
    font-size: 10px;
}
.navbar .notification .field:not(:last-child) {
    margin-bottom: 0rem;
}
.navbar .notification ul:not(:last-child) {
    margin-bottom: 0.75rem;
}
.navbar .notification li {
    position: relative;
    overflow: hidden;
    direction: rtl;
    text-overflow: ellipsis;
}
.navbar .notification li a {
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    font-size: 12px;
    width: 85%;
    opacity: 0.75;
}
.navbar .notification li i {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    font-size: 12px;
    opacity: 0.75;
}

.tags.has-addons .tag:not(:first-child) {
    margin-left: 0;
}
.tag.is-delete.is-primary:hover {
    background-color: #47b0bd;
}
.tag.is-recording {
    position: relative;
    padding-left: 2rem;
}
.tag.is-recording:before {
    content: ' ';
    position: absolute;
    border: 6px solid #e06c75;
    background-color: #e06c75;
    border-radius: 10px;
    left: 0.5rem;
}
.h-home.columns, .h-home.columns > .column {
    background-color: #282C33;
}
.h-home.columns > .column {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10rem;
}
.h-home .label {
    color: white;
}
.h-home .buttons {
    display: block;
}
.h-home input {
    max-width: 8rem;
}
.h-editor.columns > .column {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}
.h-editor.columns .columns {
    flex: 1;
    overflow: auto;
    position: relative;
    margin: 0;
}
.h-editor.columns .columns .column,
.h-editor.columns .columns .column > div {
    height: 100%;
}
.h-editor.columns > .column:first-of-type {
    border-right: 3px solid #252930;
}
.h-editor .divider {
    height: 15px;
    background: #252930;
}
.h-editor .divider.is-draggable {
    cursor: ns-resize;
}
.h-editor .divider p {
    user-select: none;
    font-size: 10px;
    color: white;
    padding-left: 0.5rem;
}
.h-editor .divider:active {
    cursor: ns-resize;
}
iframe {
    width: 100%;
    height: 100%;
}
iframe + div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

