body {
    font-family: Verdana;
    background: url(pattern.png);
    background-repeat: repeat;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 0;
}
ul {
    margin: 0; padding: 0;
    list-style-type: none;
}
h1 {
    font-size: 1rem;
}
p {
    font-size: .8rem;
}
code {
    line-height: 1.2rem;
    font-size: 1rem;
    background: rgba(255, 200, 63, 0.3);
    padding: 0.1rem;
    margin: 0.1rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    display: flex;
    flex-flow: row wrap;
    width: 17rem;
    min-width: 17rem;
    align-items: center;
    justify-content: center;
    margin-right: 15rem;
}

.board li {
    width: 4rem;
    height: 4rem;
    position: relative;
    display: inline-block;
}
.board li.candyapplered { background-color: #FA0E02; }
.board li.cadmiumyellow { background-color: #FAFA05; }
.board li.bondiblue { background-color: #029FB8; }
.board li.braken { background-color: #5C3D28; }
.board li.champagne { background-color: #FAD9A9; }

.board li.chileanfire { background-color: #F66F02; }

.board li.kellygreen { background-color: #4DD205; }
.board li.islamicgreen { background-color: #0E9300; }
.board li.champagne { background-color: #FAD9A9; }
.board li.safetyorange { background-color: #FA6800; }
.board li.darkgreen { background-color: #086800; }
.board li.white { background: none; }

.buttons {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.status.error {
    color: #d92626;
}

.pane {
    background: white;
    width: 15rem;
    position: absolute;
    top: 0; right: 0; bottom: 0;
    border-left: 1px solid #BDCCE0;
}
.pane a {
    display: block;
    text-decoration: none;
    color: black;
}
.pane ul.level {
    z-index: 10;
    position: absolute;
    text-align: center;
    top: 0; left: 0; right: 0;
    background: white;
    padding-bottom: .5rem;
}
.pane ul.level li {
    display: inline-block;
    vertical-align: top;
    background-color: #F6F8FB;
}
.pane ul.level li a.active {
    background-color: #BDCCE0;
}
.pane ul.level li.current {
    width: 3.5rem;
    height: 4.5rem;
    background-color: #ffc83f;
    position: relative;
}
.pane ul.level li.current span {
    display: inline-block;
    margin-top: 1rem;
}
.pane ul.level li.current.success {
    background-color: #20b684;
}
.pane ul.level li a {
    padding: .8rem .3rem;
}
.pane ul.level li a:not(.active) {
    cursor: default;
}
.pane ul.level li.current:after {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    width: 0; height: 0;
    border-left: 1.8rem solid transparent;
    border-right: 1.8rem solid transparent;
    border-bottom: 1.5rem solid white;
}
.pane ul.controls {
    z-index: 10;
    position: absolute;
    bottom: 0; left: 0; right: 0;
}
.pane ul.controls li {
    background-color: #BDCCE0;
    float: left;
    text-align: center;
}
.pane ul.controls li a {
    padding: .8rem 3.2rem;
}
.pane ul.controls li:last-child {
    float: right;
    border-left: 1px solid white;
    background-color: #20b684;
}

.pane .scroll {
    z-index: 0;
    position: absolute;
    top: 4rem; bottom: 3rem; left: .5rem; right: .5rem;
    overflow: auto;
    overflow-x: hidden;
}
.pane .scroll .manual {
    display:inline-block;
    overflow: scroll;
}
