body {
    font-family: Verdana;
    background: url(pattern.png);
    background-repeat: repeat;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 0;
}
ul {
    margin: 0; padding: 0;
    list-style-type: none;
}
h1 {
    font-size: 1rem;
}
p {
    font-size: .8rem;
}
code {
    line-height: 1.2rem;
    font-size: 1rem;
    background: rgba(255, 200, 63, 0.3);
    padding: 0.1rem;
    margin: 0.1rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    display: flex;
    flex-flow: row wrap;
    width: 16rem;
    min-width: 16rem;
    transform: rotate(45deg);
    align-items: center;
    justify-content: center;
}

.square {
    width: 5rem;
    height: 5rem;
    position: relative;
    display: inline-block;
    background-color: #BDCCE0;
    border: 1px solid #5A6D7D;
    box-shadow: 1px 1px 0px #5A6D7D, 2px 2px 0px #5A6D7D, 3px 3px 0px #5A6D7D, 4px 4px 0px #5A6D7D, 5px 5px 0px #5A6D7D, 6px 6px 0px #5A6D7D;
}
.square.goal:before,
.square.step:before {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    font-size: 2rem;
    top: 1.1rem;
    left: 1.9rem;
    color: #5A6D7D;
}
.square.goal:before {
    content: '●';
}
.square.step:before {
    content: '◇';
}
.square.light {
    background-color: #20b684;
}
.square.empty {
    background: none;
    border-color: transparent;;
    box-shadow: none;
}

.square .robot {
    transform: rotate(-45deg);
}
.robot {
    background: url(sprites.png);
    display: inline-block;
    height: 80px;
    width: 70px;
}
.robot.bottom { background-position: -0px -20px; }
.robot.right { background-position: -0px -110px; }
.robot.top { background-position: -0px -210px; }
.robot.left { background-position: -0px -310px; }

.buttons {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.status.error {
    color: #d92626;
}
